apiVersion: v2
description: A Helm chart for deploying the MCCS DAQ prototype on Kubernetes
name: ska-low-mccs-pasd
version: 4.3.2
appVersion: 4.3.2
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: ska-tango-devices
  version: 0.14.0
  repository: https://artefact.skao.int/repository/helm-internal
  # version: 0.12.0-dev.c673c56dc
  # repository: https://gitlab.com/api/v4/projects/66823602/packages/helm/dev
