apiVersion: v2
description: A Helm chart for deploying the MCCS DAQ prototype on Kubernetes
name: ska-low-mccs-pasd
version: 3.4.0
appVersion: 3.4.0
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: ska-tango-devices
  version: 0.10.0
  repository: https://artefact.skao.int/repository/helm-internal
