# Default values for mccs (ska-low-mccs-pasd)
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

display: ":0"
xauthority: "~/.Xauthority"

system: SW-infrastructure
subsystem: low-mccs-pasd
telescope: SKA-low

labels:
  app: ska-low-mccs-pasd

global:
  minikube: true
  tango_host: databaseds-tango-base:10000
  cluster_domain: cluster.local

# Image to be used for simulators etc.
image:
  registry: artefact.skao.int
  name: ska-low-mccs-pasd
  tag: 3.3.0 # defaults to chart's appVersion when empty
  pullPolicy: IfNotPresent

# Resources for simulators etc.
resources:
  requests:
    cpu: 20m
    memory: 50Mi

simulators: {}  # e.g.:
  # pasds:
  #   s8-1:
  #     host: pasd-simulator-s8-1  # mandatory
  #     port: 8502  # optional, defaults to 502
  #     time_multiplier: 1  # optional, defaults to 1

# Reference data from Helm. (mainly used for simulator configuration.)
referenceData: {}
  # pasdconfiguration:
  #   s8-1:
  #     pasd:
  #       smartboxes:
  #         "1":
  #           fndh_port: 1
  #     antennas:
  #       "255":
  #         smartbox: "1"
  #         smartbox_port: 3
  #         masked: false


ska-tango-devices:
  domain: low
  subsystem: mccs
  labels:
    app: ska-low-mccs-pasd

  # deviceDefaults:
  #   MccsFieldStation:
  #     LoggingLevelDefault: 5
  #     ConfigurationPort: 8081
  #   MccsPasdBus:
  #     Port: 502
  #     Timeout: 10
  #     LoggingLevelDefault: 5
  #   MccsFNDH:
  #     LoggingLevelDefault: 5
  #   MccsFncc:
  #     LoggingLevelDefault: 5
  #   MccsSmartbox:
  #     LoggingLevelDefault: 5

  # devices:
  #   MccsFieldStation:
  #     low-mccs/fieldstation/s8-1:
  #       StationName: s8-1
  #       FndhFQDN: low-mccs/fndh/s8-1
  #       FnccFQDN: low-mccs/fncc/s8-1
  #       SmartBoxFQDNs:
  #       - low-mccs/smartbox/s8-1-sb01
  #       - low-mccs/smartbox/s8-1-sb02
  #       - low-mccs/smartbox/s8-1-sb03
  #       - low-mccs/smartbox/s8-1-sb04
  #       - low-mccs/smartbox/s8-1-sb05
  #       - low-mccs/smartbox/s8-1-sb06
  #       - low-mccs/smartbox/s8-1-sb07
  #       - low-mccs/smartbox/s8-1-sb08
  #       - low-mccs/smartbox/s8-1-sb09
  #       - low-mccs/smartbox/s8-1-sb10
  #       - low-mccs/smartbox/s8-1-sb11
  #       - low-mccs/smartbox/s8-1-sb12
  #       - low-mccs/smartbox/s8-1-sb13
  #       - low-mccs/smartbox/s8-1-sb14
  #       - low-mccs/smartbox/s8-1-sb15
  #       - low-mccs/smartbox/s8-1-sb16
  #       - low-mccs/smartbox/s8-1-sb17
  #       - low-mccs/smartbox/s8-1-sb18
  #       - low-mccs/smartbox/s8-1-sb19
  #       - low-mccs/smartbox/s8-1-sb20
  #       - low-mccs/smartbox/s8-1-sb21
  #       - low-mccs/smartbox/s8-1-sb22
  #       - low-mccs/smartbox/s8-1-sb23
  #       - low-mccs/smartbox/s8-1-sb24
  #       ConfigurationHost: pasd-configuration-service
  #   MccsPasdBus:
  #     low-mccs/pasdbus/s8-1:
  #       Host: 10.137.0.129
  #   MccsFNDH:
  #     low-mccs/fndh/s8-1:
  #       PasdFQDN: low-mccs/pasdbus/itf1
  #   MccsFNCC:
  #     low-mccs/fncc/s8-1:
  #       PasdFQDN: low-mccs/pasdbus/s8-1
  #   MccsSmartbox:
  #     low-mccs/smartbox/s8-1-sb01:
  #       SmartboxNumber: 1
  #       FieldStationName: low-mccs/fieldstation/itf1
  #       FndhFQDN: low-mccs/fndh/itf1
  #       PasdFQDN: low-mccs/pasdbus/itf1

  deviceServerTypes:
    pasd:
      metadata:
        component: pasd
      image:
        registry: artefact.skao.int
        name: ska-low-mccs-pasd
        tag: 3.3.0
        pullPolicy: IfNotPresent
      command: pasd
      resources:
        requests:
          cpu: 20m
          memory: 50Mi
      livenessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3

  # deviceServers:
  #   pasd:
  #     fieldstation-s8-1:
  #       expose: true
  #       devices:
  #         MccsFieldStation:
  #         - low-mccs/fieldstation/s8-1
  #     pasdbus-s8-1:
  #       devices:
  #         MccsPasdBus:
  #         - low-mccs/pasdbus/s8-1:
  #     fndh-s8-1:
  #       depends_on:
  #       - device: low-mccs/pasdbus/s8-1
  #       devices:
  #         MccsFNDH:
  #         - low-mccs/fndh/s8-1:
  #     fncc-s8-1:
  #       devices:
  #         MccsFncc:
  #         - low-mccs/fncc/s8-1:
  #     smartbox-s8-1-sb01:
  #       depends_on:
  #       - device: low-mccs/pasdbus/s8-1
  #       devices:
  #         MccsSmartbox:
  #         - low-mccs/smartbox/s8-1-sb01:
