# Default values for mccs (ska-low-mccs-pasd)
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

display: ":0"
xauthority: "~/.Xauthority"

system: SW-infrastructure
subsystem: low-mccs-pasd
telescope: SKA-low

labels:
  app: ska-low-mccs-pasd

global:
  minikube: true
  tango_host: databaseds-tango-base:10000
  cluster_domain: cluster.local

# Image to be used for simulators etc.
image:
  registry: artefact.skao.int
  name: ska-low-mccs-pasd
  tag: 4.3.2 # defaults to chart's appVersion when empty
  pullPolicy: IfNotPresent

# Resources for simulators etc.
resources:
  requests:
    cpu: 20m
    memory: 50Mi

simulators: {}  # e.g.:
  # pasds:
  #   s8-1:
  #     host: pasd-simulator-s8-1  # mandatory
  #     port: 8502  # optional, defaults to 502
  #     time_multiplier: 1  # optional, defaults to 1

# Reference data from Helm. (mainly used for simulator configuration.)
referenceData: {}
  # pasdconfiguration:
  #   s8-1:
  #     pasd:
  #       smartboxes:
  #         "1":
  #           fndh_port: 1
  #     antennas:
  #       "255":
  #         smartbox: "1"
  #         smartbox_port: 3
  #         masked: false


ska-tango-devices:
  domain: low
  subsystem: mccs
  labels:
    app: ska-low-mccs-pasd
  # deviceDefaults:
    # MccsFieldStation:
    #   LoggingLevelDefault: 5
    #   ConfigurationPort: 8081
    # MccsPasdBus:
    #   Port: 502
    #   Timeout: 10
    #   LoggingLevelDefault: 5
    # MccsFNDH:
    #   LoggingLevelDefault: 5
    # MccsFncc:
    #   LoggingLevelDefault: 5
    # MccsSmartbox:
    #   LoggingLevelDefault: 5
  classProperties:
    MccsFNDH:
      Psu48vVoltage1->max_alarm: 51
      Psu48vVoltage1->max_warning: 49
      Psu48vVoltage1->min_warning: 46
      Psu48vVoltage1->min_alarm: 41
      Psu48vVoltage2->max_alarm: 51
      Psu48vVoltage2->max_warning: 49
      Psu48vVoltage2->min_warning: 46
      Psu48vVoltage2->min_alarm: 41
      Psu48vCurrent->max_alarm: 17
      Psu48vCurrent->max_warning: 16
      Psu48vCurrent->min_warning: 0
      Psu48vCurrent->min_alarm: -4
      Psu48vTemperature1->max_alarm: 95
      Psu48vTemperature1->max_warning: 80
      Psu48vTemperature1->min_warning: 5
      Psu48vTemperature1->min_alarm: -2
      Psu48vTemperature2->max_alarm: 95
      Psu48vTemperature2->max_warning: 80
      Psu48vTemperature2->min_warning: 5
      Psu48vTemperature2->min_alarm: -2
      PanelTemperature->max_alarm: 80
      PanelTemperature->max_warning: 65
      PanelTemperature->min_warning: 5
      PanelTemperature->min_alarm: -2
      FncbTemperature->max_alarm: 80
      FncbTemperature->max_warning: 65
      FncbTemperature->min_warning: 5
      FncbTemperature->min_alarm: -2
      FncbHumidity->max_alarm: 80
      FncbHumidity->max_warning: 65
      FncbHumidity->min_warning: 15
      FncbHumidity->min_alarm: 5
      CommsGatewayTemperature->max_alarm: 80
      CommsGatewayTemperature->max_warning: 65
      CommsGatewayTemperature->min_warning: 5
      CommsGatewayTemperature->min_alarm: -2
      PowerModuleTemperature->max_alarm: 80
      PowerModuleTemperature->max_warning: 65
      PowerModuleTemperature->min_warning: 5
      PowerModuleTemperature->min_alarm: -2
      OutsideTemperature->max_alarm: 80
      OutsideTemperature->max_warning: 65
      OutsideTemperature->min_warning: 5
      OutsideTemperature->min_alarm: -2
      InternalAmbientTemperature->max_alarm: 80
      InternalAmbientTemperature->max_warning: 65
      InternalAmbientTemperature->min_warning: 5
      InternalAmbientTemperature->min_alarm: -2
    MccsSmartbox:
      InputVoltage->max_alarm: 49.5
      InputVoltage->max_warning: 48.5
      InputVoltage->min_warning: 45.5
      InputVoltage->min_alarm: 41
      PowerSupplyOutputVoltage->max_alarm: 4.95
      PowerSupplyOutputVoltage->max_warning: 4.81
      PowerSupplyOutputVoltage->min_warning: 4.5
      PowerSupplyOutputVoltage->min_alarm: 4.1
      PowerSupplyTemperature->max_alarm: 80
      PowerSupplyTemperature->max_warning: 65
      PowerSupplyTemperature->min_warning: 5
      PowerSupplyTemperature->min_alarm: -2
      PcbTemperature->max_alarm: 80
      PcbTemperature->max_warning: 65
      PcbTemperature->min_warning: 5
      PcbTemperature->min_alarm: -2
      FemAmbientTemperature->max_alarm: 55
      FemAmbientTemperature->max_warning: 41
      FemAmbientTemperature->min_warning: 5
      FemAmbientTemperature->min_alarm: -2
      FemCaseTemperature1->max_alarm: 55
      FemCaseTemperature1->max_warning: 45
      FemCaseTemperature1->min_warning: 5
      FemCaseTemperature1->min_alarm: -2
      FemCaseTemperature2->max_alarm: 55
      FemCaseTemperature2->max_warning: 45
      FemCaseTemperature2->min_warning: 5
      FemCaseTemperature2->min_alarm: -2
      FemHeatsinkTemperature1->max_alarm: 55
      FemHeatsinkTemperature1->max_warning: 43
      FemHeatsinkTemperature1->min_warning: 5
      FemHeatsinkTemperature1->min_alarm: -2
      FemHeatsinkTemperature2->max_alarm: 55
      FemHeatsinkTemperature2->max_warning: 43
      FemHeatsinkTemperature2->min_warning: 5
      FemHeatsinkTemperature2->min_alarm: -2

  # devices:
  #   MccsFieldStation:
  #     low-mccs/fieldstation/s8-1:
  #       StationName: s8-1
  #       FndhFQDN: low-mccs/fndh/s8-1
  #       FnccFQDN: low-mccs/fncc/s8-1
  #       SmartBoxFQDNs:
  #       - low-mccs/smartbox/s8-1-sb01
  #       - low-mccs/smartbox/s8-1-sb02
  #       - low-mccs/smartbox/s8-1-sb03
  #       - low-mccs/smartbox/s8-1-sb04
  #       - low-mccs/smartbox/s8-1-sb05
  #       - low-mccs/smartbox/s8-1-sb06
  #       - low-mccs/smartbox/s8-1-sb07
  #       - low-mccs/smartbox/s8-1-sb08
  #       - low-mccs/smartbox/s8-1-sb09
  #       - low-mccs/smartbox/s8-1-sb10
  #       - low-mccs/smartbox/s8-1-sb11
  #       - low-mccs/smartbox/s8-1-sb12
  #       - low-mccs/smartbox/s8-1-sb13
  #       - low-mccs/smartbox/s8-1-sb14
  #       - low-mccs/smartbox/s8-1-sb15
  #       - low-mccs/smartbox/s8-1-sb16
  #       - low-mccs/smartbox/s8-1-sb17
  #       - low-mccs/smartbox/s8-1-sb18
  #       - low-mccs/smartbox/s8-1-sb19
  #       - low-mccs/smartbox/s8-1-sb20
  #       - low-mccs/smartbox/s8-1-sb21
  #       - low-mccs/smartbox/s8-1-sb22
  #       - low-mccs/smartbox/s8-1-sb23
  #       - low-mccs/smartbox/s8-1-sb24
  #       ConfigurationHost: pasd-configuration-service
  #   MccsPasdBus:
  #     low-mccs/pasdbus/s8-1:
  #       Host: 10.137.0.129
  #   MccsFNDH:
  #     low-mccs/fndh/s8-1:
  #       PasdFQDN: low-mccs/pasdbus/itf1
  #   MccsFNCC:
  #     low-mccs/fncc/s8-1:
  #       PasdFQDN: low-mccs/pasdbus/s8-1
  #   MccsSmartbox:
  #     low-mccs/smartbox/s8-1-sb01:
  #       SmartboxNumber: 1
  #       FieldStationName: low-mccs/fieldstation/itf1
  #       FndhFQDN: low-mccs/fndh/itf1
  #       PasdFQDN: low-mccs/pasdbus/itf1

  deviceServerTypes:
    pasd:
      metadata:
        component: pasd
      image:
        registry: artefact.skao.int
        name: ska-low-mccs-pasd
        tag: 4.3.2
        pullPolicy: IfNotPresent
      command: pasd
      resources:
        requests:
          cpu: 20m
          memory: 50Mi
      livenessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3

  # deviceServers:
  #   pasd:
  #     fieldstation-s8-1:
  #       expose: true
  #       devices:
  #         MccsFieldStation:
  #         - low-mccs/fieldstation/s8-1
  #     pasdbus-s8-1:
  #       devices:
  #         MccsPasdBus:
  #         - low-mccs/pasdbus/s8-1:
  #     fndh-s8-1:
  #       depends_on:
  #       - device: low-mccs/pasdbus/s8-1
  #       devices:
  #         MccsFNDH:
  #         - low-mccs/fndh/s8-1:
  #     fncc-s8-1:
  #       devices:
  #         MccsFncc:
  #         - low-mccs/fncc/s8-1:
  #     smartbox-s8-1-sb01:
  #       depends_on:
  #       - device: low-mccs/pasdbus/s8-1
  #       devices:
  #         MccsSmartbox:
  #         - low-mccs/smartbox/s8-1-sb01:
